/*! Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*! SVG */

svg {
    fill: #d1d1d1;
}

.medium {
    fill: #A9A9A9;
}

.dark {
    fill: #787878;
}

#braco {
    transform-origin: bottom right;
    animation: braco-mexendo 1s alternate infinite;
}

#loader {
    transform-origin: center center;
    animation: rotacao steps(8) .9s infinite;
}

/*! Animação */

@keyframes braco-mexendo {
    0% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(-4deg);
    }
}

@keyframes rotacao {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}